In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
a=[i for i in 'abcdefghijklmno']
data=pd.read_csv(r'E:\AI & ML\Activity-2\income.csv',names=a)
print(data.columns)

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o'],
      dtype='object')

In [7]:
#data['a'].value_counts()
data['a'].unique()
#data.isna().sum()

array([39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 23, 32, 40, 34, 25, 43,
       54, 35, 59, 56, 19, 20, 45, 22, 48, 21, 24, 57, 44, 41, 29, 18, 47,
       46, 36, 79, 27, 67, 33, 76, 17, 55, 61, 70, 64, 71, 68, 66, 51, 58,
       26, 60, 90, 75, 65, 77, 62, 63, 80, 72, 74, 69, 73, 81, 78, 88, 82,
       83, 84, 85, 86, 87], dtype=int64)

In [20]:
data['b'].value_counts()
data['b'].replace(to_replace=' ?',value=' Private',inplace=True)

data['g'].value_counts()
data['g'].replace(to_replace=' ?',value=' Adm-clerical',inplace=True)

data['n'].value_counts()
data['n'].replace(to_replace=' ?',value=' United-States',inplace=True)

In [9]:
##to find the ' ?' values and then replace them with any value we want to
##but before that we need to see if it is '?' or has a space as well like ' ?' for this we need to use the "unique" command

In [10]:
data['x']=np.arange(0,len(data))
s='bdfghijn'
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in s:
    data[i+'enc']=le.fit_transform(data[i])

In [18]:
s=data.drop_duplicates('b').set_index('x')
print(s[['b','benc']])
s1=data.drop_duplicates('d').set_index('x')
print(s1[['d','denc']])
s2=data.drop_duplicates('f').set_index('x')
print(s2[['f','fenc']])
s3=data.drop_duplicates('g').set_index('x')
print(s3[['g','genc']])
s4=data.drop_duplicates('h').set_index('x')
print(s4[['h','henc']])
s5=data.drop_duplicates('i').set_index('x')
print(s5[['i','ienc']])
s6=data.drop_duplicates('j').set_index('x')
print(s6[['n','denc']])
s7=data.drop_duplicates('n').set_index('x')
print(s7[['n','nenc']])
print(data.columns)

                      b  benc
x
0             State-gov     6
1      Self-emp-not-inc     5
2               Private     3
22          Federal-gov     0
25            Local-gov     1
54         Self-emp-inc     4
1901        Without-pay     7
5361       Never-worked     2
                 d  denc
x
0        Bachelors     9
2          HS-grad    11
3             11th     1
5          Masters    12
6              9th     6
10    Some-college    15
13      Assoc-acdm     7
14       Assoc-voc     8
15         7th-8th     5
20       Doctorate    10
52     Prof-school    14
56         5th-6th     4
77            10th     0
160        1st-4th     3
224      Preschool    13
415           12th     2
                          f  fenc
x
0             Never-married     4
1        Married-civ-spouse     2
2                  Divorced     0
6     Married-spouse-absent     3
21                Separated     5
37        Married-AF-spouse     1
147                 Widowed     6
                      g  genc
x
0          Adm-clerical     0
1       Exec-managerial     3
2     Handlers-cleaners     5
4        Prof-specialty     9
6         Other-service     7
13                Sales    11
14         Craft-repair     2
15     Transport-moving    13
16      Farming-fishing     4
17    Machine-op-inspct     6
24         Tech-support    12
30      Protective-serv    10
442        Armed-Forces     1
536     Priv-house-serv     8
                  h  henc
x
0     Not-in-family     1
1           Husband     0
4              Wife     5
12        Own-child     3
17        Unmarried     4
74   Other-relative     2
                      i  ienc
x
0                 White     4
3                 Black     2
11   Asian-Pac-Islander     1
15   Amer-Indian-Eskimo     0
50                Other     3
                n  denc
x
0   United-States     9
4            Cuba     9
                                 n  nenc
x
0                    United-States    38
4                             Cuba     4
6                          Jamaica    22
11                           India    18
15                          Mexico    25
27                           South    34
35                     Puerto-Rico    32
52                        Honduras    15
98                         England     8
112                         Canada     1
122                        Germany    10
135                           Iran    19
152                    Philippines    29
201                          Italy    21
217                         Poland    30
228                       Columbia     3
255                       Cambodia     0
265                       Thailand    36
289                        Ecuador     6
304                           Laos    24
311                         Taiwan    35
338                          Haiti    13
359                       Portugal    31
427             Dominican-Republic     5
497                    El-Salvador     7
503                         France     9
771                      Guatemala    12
873                          China     2
1020                         Japan    23
1025                    Yugoslavia    40
1430                          Peru    28
1565    Outlying-US(Guam-USVI-etc)    27
1586                      Scotland    33
1794               Trinadad&Tobago    37
1888                        Greece    11
1948                     Nicaragua    26
2259                       Vietnam    39
2655                          Hong    16
2966                       Ireland    20
8562                       Hungary    17
19609           Holand-Netherlands    14
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'x', 'benc', 'denc', 'fenc', 'genc', 'henc', 'ienc', 'jenc',
       'nenc'],
      dtype='object')

In [19]:

data.drop([['b', 'd', 'f', 'g', 'h', 'i', 'j', 'n']],axis=1,inplace=True)
x=np.array(data.iloc[:])
y=data.ioc[:,:-1].values
print(x.shape,y.shape)

KeyError: "[('b', 'd', 'f', 'g', 'h', 'i', 'j', 'n')] not found in axis"

In [22]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.001,random_state=12)
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=3)
model.fit(xtrain,ytrain)

NameError: name 'x' is not defined

NameError: name 'xtrain' is not defined

In [ ]:
ypred=model.predict(xtest)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ytest,ypred)*100)

75.75757575757575

In [ ]:
#inverse label encoding:
# Now use inverse_transform to revert the changes at any time may be at the
# end of predictions to analyse the data with predictions

<bound method IndexOpsMixin.value_counts of 0                    Ecuador
1         Dominican-Republic
2                   Columbia
3                   Columbia
4                   Columbia
                ...
32556               Columbia
32557               Columbia
32558               Columbia
32559               Columbia
32560                   Cuba
Name: b, Length: 32561, dtype: object>

In [ ]:
#prediction
print(model.predict([[]]))